form(class="createForm" hx-post="/editTask" hx-target="#"+task[0].id)
    input(type="text" name="name" value=task[0].name placeholder="title" required)
    input(type="text" name="desc" value=task[0].description placeholder="description" required)
    input(type="email" name="worker" value=task[0].worker placeholder="worker" required)
    input(type="hidden" name="id" value=task[0].id)
    input(type="hidden" name="house" value=task[0].house)
    input(type="submit", value="save")