div(class="clickable" id=house.address) 
    div(hx-target="body" hx-trigger="click" hx-get="tasks/"+house.address)
        h3="Address: "+house.address 
        p="Number of rooms: "+house.room 
        p="Type of house: "+house.type 
        p="Size: "+house.square_meters+"m^2"
    button(class="createBtn" hx-target="this" hx-swap="afterend" hx-trigger="click" hx-get="editHouse/"+house.address) edit house